.ourFarm img {
  width: 100%;
  border-radius: 10px;
}

#ourFarm_bottom {
  display: flex;
  margin: 45px 0;
  width: 90%;
  align-items: start;
}

.ourFarm_bottom_des {
  flex-basis: 0;
  flex-grow: 1;
  font-family: "Noto Serif", serif;
  font-size: 16px;
  color: rgb(95, 105, 95);
  line-height: 29.7143px;
  font-weight: 600;
  margin-right: 50px;
}

.checks_wrapper {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
}

.checks {
  flex-basis: 0;
  flex-grow: 1;
}

.check {
  margin-bottom: 5px;
}

.check i {
  color: rgb(30, 205, 86);
}

.check span {
  font-family(stack): "Noto Serif", serif;
  font-size: 16px;
  line-height: 29.7143px;
  font-weight: 600;
}

@media (max-width: 900px) {
  .checks_wrapper {
    flex-direction: column;
    margin: 30px 0;
  }
  #ourFarm_bottom {
    flex-direction: column;
  }
}
